<template name="views_modals_addMicroChainContract">
    <h1>{{i18n "wallet.contracts.addMicroChainContract"}}</h1>
    
    <h3>{{i18n "wallet.contracts.address"}}</h3>
    {{> dapp_addressInput placeholder="0x000000.." value=this.address name="address" class='contract-address'}}
    <h3>{{i18n 'wallet.send.from'}}</h3>
    {{> dapp_selectAccount accounts=(selectAccounts deployContract) showAccountTypes=true name="from" class='send-from'}}
    <h3>
        {{i18n "wallet.send.monitorAddr"}} 
    </h3>
    <input required pattern="^([0-9]{1,3}\.){3}[0-9]{1,3}$" name="monitorAddrInput" class="monitorAddrInput" value="{{monitorAddr}}">
    <h3>
        {{i18n "wallet.send.monitorPort"}} 
    </h3>
    <input required pattern="^[0-9]{1,5}$" name="monitorPortInput" class="monitorPortInput" value="{{monitorPort}}">
    <h3>{{i18n "wallet.contracts.name"}}</h3>
    <input type="string" value="" name="name" placeholder="Name this contract" class="name">

    <h3>{{i18n "wallet.contracts.jsonInterface"}}</h3>
    <textarea name="jsonInterface" class="jsonInterface" placeholder='[{type: "constructor", name: "MyContract", "inputs":[{"name":"_param1", "type":"address"}]}, {...}]' cols="30" rows="10"></textarea>
    
</template>